{% extends "main/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Add data</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form|crispy }}
        <script>

        </script>

        <button type="submit" class="save btn btn-primary">Save</button>
        <script>
            let cout_hide=2
            document.getElementById("Add").onclick = function () {

                document.getElementById(String('div_id_base_'+String(cout_hide))).hidden = false;
                cout_hide=cout_hide+1
            }
        </script>
    </form>

{% endblock %}
