{% extends "main/base.html" %}
{% block title %}Note views{% endblock %}
{% block content %}
    <div class="databases">
        <h1 class="my-4">My note</h1>
        <div class="row">
            {% for database in bases %}
                <div class="card">
                    <div class="card-body">
                        <p class="post-link">
                            <a href="{% url "table_view" database.db_name%}">{{ database.db_name }}</a></p>
                        <p class="card-text">
                            {{ database.db_description }}
                        </p>
                        <p class="card-text">
                            {{ database.author }}
                        </p>
                    </div>
                </div>
                </div>
            {% endfor %}
                        <button type="button" class="save btn btn-primary" id="Add">Add base</button>

<script>
                document.getElementById('Add').onclick = function(event) {
                window.location.href = '/add_basadate/';
                }
                </script>

    </div>
    </div>
{% endblock %}