{% extends "main/base.html" %}
{% block title %}Note views{% endblock %}
{% block content %}
    <div class="databases">
        <h1 class="my-4">Latest note</h1>
        <p class="card-text">
        <table>
    <tbody>
                {% for base in bases %}

                    <tr>
                    <td><p>

                </p></td>
                    {% for element in base %}

                <td><p>
                  {{ element }}
                </p></td>
                {% endfor %}

                    </tr>
              {% endfor %}
      </tbody>
    </table>
                            <a href=del_data/>Delete</a>
              </p>
    </div>
{% endblock %}