{% extends "main/base.html" %}
{% block title %}Note views{% endblock %}
{% block content %}
    <div class="databases">
        <h1 class="my-4">Latest note</h1>
        <p class="card-text">
        <table>
    <tbody>
                {% for base in bases %}
                    <tr>
                    <td><p>
                        <a href="/del_data/{{ bases.0.0 }}/{{ base.0 }}">Delete</a>

                </p></td>

                    {% for element in base %}

                <td><p>
                  {{ element }}
                </p></td>
                {% endfor %}

                    </tr>
              {% endfor %}
      </tbody>
    </table>
              </p>
                    <button type="button" class="save btn btn-primary" id="Add">Add</button>

<script>
                document.getElementById('Add').onclick = function(event) {
                window.location.href = '/add_data/{{ bases.0.0 }}';
                }
</script>
    </div>
{% endblock %}